.product-card {
  @media (min-width: 1200px) {
    .h3,
    h3 {
      font-size: 1.4rem;
    }
    .h4,
    h4 {
      font-size: 1.3rem;
    }
  }
  @media (max-width: 1200px) {
    .h3,
    h3 {
      font-size: 1.2rem;
    }
    .h4,
    h4 {
      font-size: 1rem;
    }
  }

  h3 {
    font-weight: 500;

    // font-size: 1.7rem;
    // color: rgb(255, 0, 0);
  }
  .author {
    // font-size: 14px;
    // font-weight: 400;
    padding: 0;
    color: #333;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
  }
  .price-block {
    text-align: center;
    position: relative;
    margin-top: 24px;
    .price {
      color: #929292;
      font-size: 18px;
      color: #62ab00;
      font-weight: 600;
    }
    .price-old {
      color: #999999;
      text-decoration: line-through;
      font-size: 14px;
      font-weight: 400;
      margin-left: 5px;
    }
    .price-discount {
      line-height: 20px;
      padding: 0 3px;
      min-width: 40px;
      color: #fff;
      font-weight: 700;
      text-align: center;
      line-height: 24px;
      padding: 0 7px;
      min-width: 46px;
      background: #bd0018;
      text-transform: uppercase;
      font-size: 14px;
      margin-left: 5px;
      z-index: 3;
      border-radius: 3px;
    }
  }
}
