// img {
//   max-height: 650px;
//   object-fit: cover;
// }
.box {
  margin: 20px 0;
  .Image {
    max-height: 50vh;
    object-fit: cover;
  }
}
.myCaption {
  h3 {
    filter: invert(1);
  }
  p {
    filter: invert(1);
  }
}
