.main-box {
  margin: 10px 0;
  width: 100%;
  // height: calc(100vh - 75px);
  // background-color: rgb(241, 241, 241);
  // border: 1px solid #dfdfdf;
  // border-radius: 10px;
}
.scrollUp {
  transition: 0.2s;
  position: fixed;
  z-index: 2147483647;
  bottom: 80px;
  right: 10px;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  border: 2px solid #ebebeb;
  color: #292929;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-weight: 600;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9;
  font-size: 12px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 50px;

  &:hover {
    color: rgb(255, 255, 255);
    background-color: #62ab00;
  }
}
 
html {
  scroll-behavior: smooth;
}