.home-sidebar-title {
  background: #62ab00;
  padding: 9px;
  margin-bottom: 36px;
  font-size: 28px;
  color: #fff;
  line-height: 30px;
  text-transform: none;
  font-weight: 400;
  border-radius: 3px;
  text-align: center;
}
.box{
  // margin: 50px 0;
}
