.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-btn {
  span {
    cursor: pointer;
    transition: 0.2s;
    padding: 15px 5px;
    &:hover {
      // color: white;
    }
  }
}

.cart-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.cart-dropdown-block {
  width: 360px;
  font-size: 14px;
  right: 0;
  border: 2px solid #eee;
  background: #fff;
  top: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  position: absolute;
  z-index: 800;
  opacity: 1;
  // pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cart-dropdown-block .single-cart-block {
  margin-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
}
.cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.cart-dropdown-block .cart-product:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.cart-product .image {
  width: 120px;
  padding: 0 10px;
}

.cart-product .content {
  padding-left: 10px;
  padding-right: 30px;
}

.cart-product .content .title {
  line-height: 20px;
  text-transform: capitalize;
  display: block;
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  a {
    display: inline-block;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: inherit;
    text-decoration: none;
  }
}

.cart-product .content .price {
  font-size: 18px;
  color: #62ab00;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.cart-product .cross-btn {
  color: white;
  background-color: #999999;
  width: 19px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  border-radius: 2px;
  bottom: 20px;
  right: 10px;
}

.cart-total {
  position: relative;
  padding-right: 28px;
  display: inline-block;
  cursor: pointer;
}

.cart-dropdown-block .single-cart-block:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0;
}

.cart-dropdown-block .btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cart-dropdown-block .btn-block .btn {
  width: 151px;
  height: 53px;
  font-size: 15px;
  color: #333333;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 52px;
  margin-right: 10px;
  padding: 0;
}

.cart-dropdown-block .btn-block .btn:last-child {
  margin-right: 0;
}

.btn--primary {
  background: #62ab00;
  color: #fff !important;
}

// *******************

.h-100 {
  height: 100% !important;
}

 
.footer-bottom {
  padding: 55px 0;
  text-align: center;
  background: #333;
  .copyright-heading {
    color: #fff;
    margin-bottom: 40px;
  }
  a {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: inherit;
    text-decoration: none;
  }
  .copyright-text {
    background: none;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 30px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
  }
}


/***********************/
.showBar {
  display: block;
  position: fixed;
  top: 0;
  background-color: #d5d0d0;
  z-index: 9999999;
  opacity: .9;
}
.hideBar {
  position: inherit;
  // display: none;
}